<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="top"></div>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Bookings</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <link th:href='@{/css/style.css}' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <h2>View Bookings</h2>
        <!-- List of bookings display here -->
        <table class="table">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Flight</th>
                    <th>Number of Tickets</th>
                </tr>
            </thead>
            <tbody>
                <!-- Loop through bookings and display them in table rows -->
                <tr th:each="booking : ${blist}">
                    <td th:text="${booking.user.username}"></td>
                    <td th:text="${booking.flight.flightNumber}"></td>
                    <td th:text="${booking.numberOfTickets}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
