<html >
<head>
	<title>Google Books API Example</title>
	<link th:href='@{/css/style.css}' rel='stylesheet'>
</head>

<body>
	<div class="top-bar">
		<div class="top-container">
			<h1 class="app-name">Library</h1>
		</div>
		<div class="buttons-container">
            <div class="button">
                <a href="/booklist">Home</a>
            </div>
            <div class="button">
                <a href="/logout">Logout</a>
            </div>
        </div>
	</div>
	<div class="container">
		<div class="search-container">
			<input type="text" id="search-input" placeholder="Search...">
			<button id="search-button">Search</button>
		</div>
		<div id="page-info-container">
			<div id="results-num"></div>
			<div id="page-info"></div>
		</div>
		<ul id="results-container"></ul>
		<div class="pagination-container">
			<span>
				<button id="prev-button" disabled>Previous</button>
				<button id="next-button" disabled>Next</button>
			</span>
			<br>
		</div>

	</div>
	<form id="book-form" method="post" th:action="@{/add-cart}" th:object="${book}">>
		<input type="text" name="title" id="title">
		<input type="text" name="author" id="author">
		<input type="text" name="description" id="description">
		<input type="text" name="imageLink" id="imageLink">
		<!-- Add more input fields for other book data properties -->
		<button type="submit"></button>
	</form>
	<script th:src="@{/js/script.js}"> </script>
</body>

</html>