<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="top"></div>
<head>
    <title>Cart</title>
    <!-- Add CSS styling -->
    <link th:href="@{/css/cartStyle.css}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Cart</h1>
        <div id="cart-items">
            <table>
                <thead>
                    <tr>
                        <th>Book Id</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Description</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Loop through flights and display them in table rows -->
                    <tr th:each="book : ${blist}">
                        <td th:text="${book.id}"></td>
                        <td th:text="${book.title}"></td>
                        <td th:text="${book.author}"></td>
                        <td th:text="${book.description}"></td>
                        <td>
                            <a class="remove-book" th:href="@{remove-book(bid=${book.id})}">Remove</a>
                        </td>
                    </tr>
                    <!-- Display a message if no flights are found -->
                    <tr th:if="${#lists.isEmpty(blist)}">
                        <td colspan="8">No Books Added.</td>
                    </tr>
                </tbody>
            </table>
            </div>
        <button id="checkout">Checkout</button>
    </div>

    <!-- Add JavaScript for cart functionality -->
    <script src="script.js"></script>
</body>
</html>
